* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
}

body {
    background-color: rgb(159, 255, 223);
    
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

/* img.lado */